
.product {
  display: flex;
  align-items: flex-start; 
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 50px;
}

.product-images {
  flex: 1; 
}

.product-image {
  max-width: 450px;
  height: auto;
}

.product-details-wrapper {
  flex: 2; 
  padding-left: 20px; 
  display: flex;
  flex-direction: column;
}
.product-details {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.product-description {
  font-size: 16px;
  margin: 10px 0;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #008cba;
  margin: 0;
  margin-top: 40px;
}

.product-rating {
  margin-top: 20px;
  font-size: 16px;
}

.product-rating-star-text {
  color: gray;
}

.star {
  display: inline;
  color: gold;
  width: 6px;
  height: 6px;
}
.submit-rating {
  margin-top: 20px;
  margin-left: 45px;
}

.add-to-cart-button {
  background-color: #008cba;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  text-transform: uppercase;
}

.add-to-cart-button:hover {
  background-color: #00aaff;
}

.submit-your-rating-button {
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  text-transform: uppercase;
}

.submit-your-rating-button:hover {
  background-color: #00aaff;
}

.submit-rating-button {
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  text-transform: uppercase;
}

.submit-rating-button:hover {
  background-color: #00aaff;
}

.review-container {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.review-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.review {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.reviewer-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.review-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.review-timestamp {
  font-size: 14px;
  color: #777;
}

.review-section {
  width: 780px;
}

.review-list {
  width: 780px;
}

.review-submit-button {
  margin-left: 320px;
}

.review-whole-container {
  display: block;
justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}